<h1 class="mt-4">Dashbaord</h1>
<div class="row">
  <div class="col-md-6"><p class="lead mb-3 text-white">Welcome User</p></div>
  <div class="col-md-6 text-right">
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
  </div>
</div>
